* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 15px;
    background-color: black;
}


.card {
    height: 400px;
    width: 300px;
    background-color: lightseagreen;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.status_bar {
    height: 10px;
    width: 80%;
    background-color: orange;
    border-radius: 10px;
}

.fill_bar {
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 10px;
}





button {
    height: 50px;
    width: 50px;
    background-color: rgb(24, 71, 69);
    border: none;
    font-size: 22px;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    color: white;
}

button:active {
    scale: 0.97;
}